.card{
    width: 350px;
    min-height: 250px;
    border: 1px solid black;
}
.card-head{
    height: 140px;
    width: 100%;
    background: #2A5D73;
    display: flex;
}
.card-head > h2{
align-self: flex-end;
font-size: 1.4rem;
padding: 3rem 2rem .2rem .5rem;
color: #fff;
}
.card-content{
    padding: 8px;
}
.card-content > h3{
    margin-top: 0;
    font-size: 1.1rem;
}
.card-content > p{
    font-size: 1rem;
}
