.card{
    border: 3px solid #2A5D73;
    background: #fff;
}
.card-head{
    /* height: 140px; */
    background: #2A5D73;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    height: 104px;

}
.card-head-titles{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card-head-titles > h3{
    /* align-self: end; */
    font-size: 1.4rem;
    padding: 2rem 2rem .2rem .5rem;
    color: #fff;
}
.card-head-titles > h4{
    /* align-self: end; */
    font-size: 1rem;
    padding-left:.5rem;
    padding-bottom: .2rem;
    color: rgba(255, 255, 255, 0.74); 
}
.card-content{
    padding: 8px;
    display: grid;
    grid-template-rows: 6fr 1fr;

}
.card-content > p{
    font-size: 1rem;
}

.card-content > button{
    margin-top: .1rem;
    align-self: end;
}

.moreInfo{
    border-radius: 100px;
    height: 25px;
    width: 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 10px;
    background-color: #009688;
    color: #fff;
    border:none;
    text-indent: -1px; 
}
